body{
    background-color: rgb(235, 235, 235);
    padding:30px;
    font-family: 'Poppins', sans-serif;
}
.page{
    background-color: white;
    margin: auto;
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    padding-bottom: 20px;
}
.text{
    padding-top: 50px;
    margin: auto;
    width: 50%;
    
}
.text h2{
    font-weight:bolder;
}
.text p{
    text-align: justify;
}
.sosmed{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-contact{
    border-radius: 20px;
    background-color:black;
    padding: 8px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    color: white;
    margin-bottom: 20px;
}

.btn-download{
    text-decoration: none;
    color: black;
}
.card{
    text-align: center;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-left: auto;
    margin-right:auto;
    width:25vw;
    background-color:white; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;   
}

.image{
    object-fit: cover; 
    height:40vh ;
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
}

.card p{
    color: rgb(124, 124, 124);
}